body{
    max-width: 1170px;
    background-color: bisque;
    margin: 0 auto;

}
.card-section{
      text-align: center;
      font-size: 1.25em;
     
}

.cs{
     font-weight: bold;     
}

.card-section ,h2{
        font-family: italic;

}



.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card{
     width: 300px;
     border: 2px solid saddlebrown;
     border-radius: 10px;
     padding: 20px;
     box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.815);
     text-align: justify;
}

.card h3{
     font-size: 1.25em;
     font-weight: 700;
}


.card img{
    width: 100%;
    border-radius: 10px;
}
  
.card button{
         background-color: chartreuse;
         padding: 10px 30px;
         font-size: 1.25em;
         cursor: pointer;
         border-radius: 20px;
      


