.container{
    display: flex;
}
.container div{
     border: 2px solid tomato;
     height: 50px;
     font-size: 3em;
     width: 200px;
}

.text {
  color: red;
}
 .box{
     font-size: 4em;
     height: 150px;
     width: 150px;
     border: 2px solid steelblue;
     font-size: 3em;
 }

 .box-container{
     display: flex;
     gap: 50px;
 }

 .user{
      border: 2px solid blue;
      height: 150px;
      width: 150px;
      background-color: aquamarine
 }

 .user-container{
     display: flex;
     justify-content: space-between;

 }

 .card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

 }